* {
    font-family: sans-serif;
}
body, header, aside {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    width: 100%;
    background-color: #6A1B9A;
    color: white;
}
header > * {
    margin-left: 10px;
    padding: 5px;
}

header > h6, header > h1 {
    margin: 0 0 0 10px;
}

aside > nav, aside > h5 {
    margin-left: 10px; 
}

nav > h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside {
    height: calc(100vh - 80px);
    overflow-y: auto;
    width: 325px;
    background-color: lightgrey;
    float: left;
    position: static;
}
body > section {
    height: calc(100vh - 110px);
    overflow-y: auto;
    background-color: #eee;
    padding-left: 30px;
    padding-top: 30px;
}

hr {
    margin: 20px 0px 20px 0px;
}

output {
    display: block;
    padding: 10px 0px 10px 10px;
    margin-top: 15px;
    background-color: lightgrey;
    border: 1px dashed grey;
}

header > h6 > a {
    color: #2598f9;
}

header > h6 > a:visited {
    color: #00ffff;
}